<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    {{>header}}

    <div class="main-content">
        <p>About</p>
        <p>This is just a test project for earning more skills in nodejs.</p>
        <p>Weather data provided by Darksky an location data provided by Mapbox.</p>
    </div>

    {{>footer}}

    <script src="/js/script.js"></script>
</body>
</html>